
@font-face {
	font-family: "Poppins-Light";
	font-style: normal;
	font-weight: light;
	font-display: swap;
	src: url("/fonts/poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Poppins-Bold";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url("/fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: light;
	font-display: swap;
	src: url("/fonts/poppins/Inter-Variable.ttf") format("truetype");
}


@font-face {
	font-family: "SF-Pro";
	font-style: normal;
	font-weight: light;
	font-display: swap;
	src: url("/fonts/sf-pro-display/SFProDisplay-Regular.ttf") format("truetype");
}
